<div class="content">
    <div class="content-header">
      <!-- <a id="contentMenu" href="#" class="content-menu d-none d-lg-flex"
        ><i data-feather="menu"></i
      ></a> -->
      <a id="mobileMenu" href="#" class="content-menu d-lg-none"
        ><i data-feather="menu"></i
      ></a>
    </div>
    <!-- content-header -->
    <div class="content-body">
      <div class="card info-card">
        <div class="card-header info-header">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Global Info
        </div>
        <div class="card-body">
          <ul class="list-group">
            <div class="global-info00">
              <li class="list-group-item">
                OP Host <a class="global-info01">https://example..</a>
              </li>
            </div>
            <div class="global-info00">
              <li class="list-group-item">
                OXD version <a class="global-info01">https://example..</a>
              </li>
            </div>
            <div class="global-info00">
              <li class="list-group-item">
                OXD Host <a class="global-info01">https://example..</a>
              </li>
            </div>
            <div class="global-info00">
              <li class="list-group-item">
                OXD id <a class="global-info01">https://example..</a>
              </li>
            </div>
            <div class="global-info00">
              <li class="list-group-item">
                Client Id <a class="global-info01">https://example..</a>
              </li>
            </div>
            <div class="global-info00">
              <li class="list-group-item">
                Client Secret <a class="global-info01">https://example..</a>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <section class="bg0789">
        <div class="container">
          <div class="row gateway-info">
            <div class="col-md-6 salecard01">
              <div class="card cntr123 info-card" style="width: 30rem">
                <div class="card-header info-header">
                  <i class="fa fa-info-circle" aria-hidden="true"></i> Gateway
                  Info
                </div>
                <div class="card-body">
                  <ul class="list-group">
                    <div class="gateway-info00">
                      <li class="list-group-item">
                        OP Host<a class="gateway-info01">https://example..</a>
                      </li>
                    </div>
                    <div class="gateway-info00">
                      <li class="list-group-item">
                        OXD version<a class="gateway-info01">https://example..</a>
                      </li>
                    </div>
                    <div class="gateway-info00">
                      <li class="list-group-item">
                        OXD Host<a class="gateway-info01">https://example..</a>
                      </li>
                    </div>
                    <div class="gateway-info00">
                      <li class="list-group-item">
                        OXD id<a class="gateway-info01">https://example..</a>
                      </li>
                    </div>
                    <div class="gateway-info00">
                      <li class="list-group-item">
                        Client Id<a class="gateway-info01">https://example..</a>
                      </li>
                    </div>
                    <div class="gateway-info00">
                      <li class="list-group-item">
                        Client Secret<a class="gateway-info01"
                          >https://example..</a
                        >
                      </li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 salecard02">
              <div class="card cntr123 info-card" style="width: 30rem">
                <div class="card-header info-header">
                  <i class="fa fa-info-circle" aria-hidden="true"></i> Database
                  Info
                </div>
                <div class="card-body">
                  <ul class="list-group">
                    <div class="gateway-info00">
                      <li class="list-group-item">
                        OP Host<a class="gateway-info01">https://example..</a>
                      </li>
                    </div>
                    <div class="gateway-info00">
                      <li class="list-group-item">
                        OXD version<a class="gateway-info01">https://example..</a>
                      </li>
                    </div>
                    <div class="gateway-info00">
                      <li class="list-group-item">
                        OXD Host<a class="gateway-info01">https://example..</a>
                      </li>
                    </div>
                    <div class="gateway-info00">
                      <li class="list-group-item">
                        OXD id<a class="gateway-info01">https://example..</a>
                      </li>
                    </div>
                    <div class="gateway-info00">
                      <li class="list-group-item">
                        Client Id<a class="gateway-info01">https://example..</a>
                      </li>
                    </div>
                    <div class="gateway-info00">
                      <li class="list-group-item">
                        Client Secret<a class="gateway-info01"
                          >https://example..</a
                        >
                      </li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- content-body -->
  </div>
  <!-- content -->
