<div class="content">
  <div class="content-header">
    <a id="contentMenu" href="#" class="content-menu d-none d-lg-flex"
      ><i data-feather="menu"></i
    ></a>
    <a id="mobileMenu" href="#" class="content-menu d-lg-none"
      ><i data-feather="menu"></i
    ></a>
  </div>
  <!-- content-header -->
  <div class="content-body">
    <div class="card card-main">
      <div class="card-body11">
        <h2 class="card-title">Services</h2>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>

    <!-- Trigger the modal with a button -->
    <button
      type="button"
      class="btn service123"
      data-toggle="modal"
      data-target="#myModal"
    >
      + Add New Services
    </button>

    <br />
    <table id="table0101" class="table table-striped" style="width: 100%">
      <thead>
        <tr class="table011">
          <th>Name</th>
          <th>Host</th>
          <th>Created</th>
          <th>Security</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tiger Nixon</td>
          <td>tigernixon@gmail.com</td>
          <td>21 nov 2020</td>
          <td>
            <a href="services -manage.html"
              ><i class="fa fa-pencil" aria-hidden="true"></i
            ></a>
            <i class="fa fa-trash" aria-hidden="true"></i>
          </td>
        </tr>

        <tr>
          <td>Tiger Nixon</td>
          <td>tigernixon@gmail.com</td>
          <td>21 nov 2020</td>
          <td>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
          </td>
        </tr>
        <tr>
          <td>Tiger Nixon</td>
          <td>tigernixon@gmail.com</td>
          <td>21 nov 2020</td>
          <td>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
          </td>
        </tr>

        <tr>
          <td>Tiger Nixon</td>
          <td>tigernixon@gmail.com</td>
          <td>21 nov 2020</td>
          <td>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <i class="fa fa-trash" aria-hidden="true"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- content-body -->
</div>
